@page
@model ContactModel
@{
    ViewData["Title"] = "Kontakt";
}
<br />
<h4>Kontakt do nas</h4>

<address>
    <strong>Email:</strong> <a href="mailto:kontakt@kursazuredevops.pl">kontakt@kursazuredevops.pl</a> </br>
    <strong>WWW:</strong> <a href="https://kursazuredevops.pl">kursazuredevops.pl</a>
</address>