@page
@model IndexModel
@{
    ViewData["Title"] = "Kurs Azure DevOps - Demo App";
}

<div class="main-container">
    <div class="cloud-image">
        <img src="~/images/kurs_azure_devops_logo.png" />
    </div>
    <div class="content">
        <div class="content-body">
            <div class="success-text" style="color:white">Kurs Azure DevOps!</div>
            <div class="description line-1">Przykładowa aplikacja w .NET Core 3.1</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Azure Boards</h2>
        <p>
            Zarządzaj projektem i zadaniami jako Project Manager
        </p>
        <p><a class="btn btn-light" href="https://docs.microsoft.com/en-us/azure/devops/boards/get-started/what-is-azure-boards">Docs &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Azure Repos</h2>
        <p>
            Trzymaj kod w ryzach za pomocą reguł i polityk
        </p>
        <p><a class="btn btn-light" href="https://docs.microsoft.com/en-us/azure/devops/repos/get-started/what-is-repos">Docs &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Azure Pipelines</h2>
        <p>
            Automatyzuj i oszczędzaj czas
        </p>
        <p><a class="btn btn-light" href="https://docs.microsoft.com/en-us/azure/devops/pipelines/get-started/what-is-azure-pipelines">Docs &raquo;</a></p>
    </div>
</div>